footer{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 8vh;
    top: 3.99px;
    background-color: #de77c2;
    
}
.copyright{
    text-align: center;
    padding: 2.5vh 0;
    font-weight: bold;
    color: #723434;
    font-size: 1.2rem;
}